<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="MovieController">
  <head>
    <title ng-bind="'Movie Search Task ' + details.Title"></title>
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.min.js" integrity="sha256-lnH4vnCtlKU2LmD0ZW1dU7ohTTKrcKP50WA9fa350cE=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" >
<script src = "https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.3/ui-bootstrap-tpls.js"></script>
 <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
  </head>

  <body>
    <div class="container-fluid outerdiv">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#"> <span class="span-style">Movie Search</span></a>
          </div>
        </div>
      </nav>

      <noscript>
        <div class="nojs">Javascript is either disabled or not supported in your browser. Please enable it or use a Javascript enabled browser.</div>
      </noscript>
<!-- Click on search icon for displaying the results -->
      <div class=" zoomInRight">
        <div class="input-group search-bar">
          <input type="text" id ="search" auto-complete  class="form-control" ui-items="names" ng-model="auto" ng-model-options="{debounce : 80}"/>
          <!-- <input type="text" ng-model="search" auto-complete onclick="select()" class="form-control" placeholder="Enter full movie name" autofocus /> -->
          <span class="input-group-addon bar-style" ng-click="fetch()" style="cursor:pointer;"><i class="glyphicon glyphicon-search"></i></span>
        </div>

        <div id="main-info" ng-include="'partials/main-info.html'" class="col-md-8"></div>

        <div id="related-results" ng-include="'partials/related-results.html'" class="col-md-4 related-results"></div>
      </div>
    </div>

   
  </body>
</html>
